02-Bases_de_Node/node_modules/
02-Bases_de_Node/salida/*.txt
04-App_Tareas/node_modules/
05-App_Clima/node_modules/
06-WebServer/node_modules/
07-REST_Server/node_modules/
07-REST_Server/.env
09-App_Tickets/node_modules/



